body {
    padding: 10px;
    margin: 0;
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    border: 0;
    border-bottom: 1px solid #cccccc;
}

.text {
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    margin-bottom: 20px;
}

p {
    padding: 0;
    margin: 0;
}

.form {
    background: #f2f2f2;
    padding: 10px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

.button-block {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 0 4px 4px;
    text-align: right;
}

.button {
    color: #fff;
    background: #148dea;
    padding: 5px;
    border: 0px; 
    border-radius: 2px;
    width: 120px;
}

label {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.field {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTUzRjM0NEM4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTUzRjM0NEQ4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNTNGMzQ0QThEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNTNGMzQ0QjhEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PtZsOr8AAAFvSURBVHjanJTNi4JgEMbXsg+DUvBSHSISOuTNixfp5F9vB9FLEAUhUUmJoth3uk8UZbrt6+6cXuf1N87MMyMVx/HX363w6eJyuWy320+3dNZ1vV51XQcTRVGv1+v3+4VCOjqVTVLTNNu2n4+lUklVVZqmf0syDMMkAzufz4ZhEGpDYtm09/s9ASsWi1mMZVkCdjqdfmwSAUPgWq321jSKEkWRgOGlTqeT9FQqFTSTLHe3231+EIrJskyeErR7Pp8ritJqtXieHw6H4/E428mX3FBsMpksFguc2+22JEk4WJZlmiYOjUYDnnq9/oat1+vRaJSMV61WUVIQBEmnIAiDweCV5HQ6TaVxOBxSDGw2m6GKBwZZXNfNuTKo5YE5jpN/0+7F3zDf9/Njm83mge12u/zYK8lyuZwfu0/MTQCY53mr1Wq5XGaVfRrHcZi7ZrOJcUtvNzYArT8ej2g0rjBcCI/3GIZJLjj1vz/XtwADANyzsJfkYp2WAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}

.field:focus {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #148dea;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTUzRjM0NEM4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTUzRjM0NEQ4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNTNGMzQ0QThEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNTNGMzQ0QjhEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PtZsOr8AAAFvSURBVHjanJTNi4JgEMbXsg+DUvBSHSISOuTNixfp5F9vB9FLEAUhUUmJoth3uk8UZbrt6+6cXuf1N87MMyMVx/HX363w6eJyuWy320+3dNZ1vV51XQcTRVGv1+v3+4VCOjqVTVLTNNu2n4+lUklVVZqmf0syDMMkAzufz4ZhEGpDYtm09/s9ASsWi1mMZVkCdjqdfmwSAUPgWq321jSKEkWRgOGlTqeT9FQqFTSTLHe3231+EIrJskyeErR7Pp8ritJqtXieHw6H4/E428mX3FBsMpksFguc2+22JEk4WJZlmiYOjUYDnnq9/oat1+vRaJSMV61WUVIQBEmnIAiDweCV5HQ6TaVxOBxSDGw2m6GKBwZZXNfNuTKo5YE5jpN/0+7F3zDf9/Njm83mge12u/zYK8lyuZwfu0/MTQCY53mr1Wq5XGaVfRrHcZi7ZrOJcUtvNzYArT8ej2g0rjBcCI/3GIZJLjj1vz/XtwADANyzsJfkYp2WAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}

.fielderror {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #f00;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTUzRjM0NEM4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTUzRjM0NEQ4RDE3MTFFOEFDQ0ZCMzdEQTcwREY1RkQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxNTNGMzQ0QThEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxNTNGMzQ0QjhEMTcxMUU4QUNDRkIzN0RBNzBERjVGRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PtZsOr8AAAFvSURBVHjanJTNi4JgEMbXsg+DUvBSHSISOuTNixfp5F9vB9FLEAUhUUmJoth3uk8UZbrt6+6cXuf1N87MMyMVx/HX363w6eJyuWy320+3dNZ1vV51XQcTRVGv1+v3+4VCOjqVTVLTNNu2n4+lUklVVZqmf0syDMMkAzufz4ZhEGpDYtm09/s9ASsWi1mMZVkCdjqdfmwSAUPgWq321jSKEkWRgOGlTqeT9FQqFTSTLHe3231+EIrJskyeErR7Pp8ritJqtXieHw6H4/E428mX3FBsMpksFguc2+22JEk4WJZlmiYOjUYDnnq9/oat1+vRaJSMV61WUVIQBEmnIAiDweCV5HQ6TaVxOBxSDGw2m6GKBwZZXNfNuTKo5YE5jpN/0+7F3zDf9/Njm83mge12u/zYK8lyuZwfu0/MTQCY53mr1Wq5XGaVfRrHcZi7ZrOJcUtvNzYArT8ej2g0rjBcCI/3GIZJLjj1vz/XtwADANyzsJfkYp2WAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}

.field2 {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjM1NTNEOEM4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjM1NTNEOEQ4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyMzU1M0Q4QThEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyMzU1M0Q4QjhEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqgRgP4AAAFMSURBVHjanJQ7r4IwFMdvy0VCSIAAA4+w6MDExgQGvrqLEwOrDmwkYOJAMFHDQ++5KakG9V6gw0lp++P8z6NF9/v9a/r4Hnzfbrfdbnc8Hk+nE8ZYkiRd15fL5eAYevZWVVUcx+fzeXBIURTf9xFCb7CmaTabzfV6XSwWq9VK07Su6w6HQ5qmsCvL8nq9puRD5H6/B4bn+SAIwJJFVVVB5Ha7LcsStIBmso4plmUZWMdxKEMVmqYJE9BPF3usrmsQCRPLsl7z5rou2MvlQiPCNIF9rE9xP/6N+2NDbE7dwBUkjbp9dUh3YUI8/xYgSRKSjzEjiiJRFGeK/IgZhkGrNBazbdvzvDAMOY6bgNF60GSMwvI8J53dtu0EDLoZLMMw02IjIbEsO/aakgFXDhr3j4v/HoO2LopiTt3+70morCAIIwESNpr3cv0IMADjrJITHSHBKgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}

.field2:focus {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #148dea;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjM1NTNEOEM4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjM1NTNEOEQ4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyMzU1M0Q4QThEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyMzU1M0Q4QjhEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqgRgP4AAAFMSURBVHjanJQ7r4IwFMdvy0VCSIAAA4+w6MDExgQGvrqLEwOrDmwkYOJAMFHDQ++5KakG9V6gw0lp++P8z6NF9/v9a/r4Hnzfbrfdbnc8Hk+nE8ZYkiRd15fL5eAYevZWVVUcx+fzeXBIURTf9xFCb7CmaTabzfV6XSwWq9VK07Su6w6HQ5qmsCvL8nq9puRD5H6/B4bn+SAIwJJFVVVB5Ha7LcsStIBmso4plmUZWMdxKEMVmqYJE9BPF3usrmsQCRPLsl7z5rou2MvlQiPCNIF9rE9xP/6N+2NDbE7dwBUkjbp9dUh3YUI8/xYgSRKSjzEjiiJRFGeK/IgZhkGrNBazbdvzvDAMOY6bgNF60GSMwvI8J53dtu0EDLoZLMMw02IjIbEsO/aakgFXDhr3j4v/HoO2LopiTt3+70morCAIIwESNpr3cv0IMADjrJITHSHBKgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}

.fielderror2 {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #f00;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAXCAIAAACJYYizAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjM1NTNEOEM4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjM1NTNEOEQ4RDE3MTFFODhFMTVENDJFNDUzOTVGQkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyMzU1M0Q4QThEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyMzU1M0Q4QjhEMTcxMUU4OEUxNUQ0MkU0NTM5NUZCRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqgRgP4AAAFMSURBVHjanJQ7r4IwFMdvy0VCSIAAA4+w6MDExgQGvrqLEwOrDmwkYOJAMFHDQ++5KakG9V6gw0lp++P8z6NF9/v9a/r4Hnzfbrfdbnc8Hk+nE8ZYkiRd15fL5eAYevZWVVUcx+fzeXBIURTf9xFCb7CmaTabzfV6XSwWq9VK07Su6w6HQ5qmsCvL8nq9puRD5H6/B4bn+SAIwJJFVVVB5Ha7LcsStIBmso4plmUZWMdxKEMVmqYJE9BPF3usrmsQCRPLsl7z5rou2MvlQiPCNIF9rE9xP/6N+2NDbE7dwBUkjbp9dUh3YUI8/xYgSRKSjzEjiiJRFGeK/IgZhkGrNBazbdvzvDAMOY6bgNF60GSMwvI8J53dtu0EDLoZLMMw02IjIbEsO/aakgFXDhr3j4v/HoO2LopiTt3+70morCAIIwESNpr3cv0IMADjrJITHSHBKgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    padding-left: 25px; 
    background-size: 17px;
    background-position-x: 3px;
    background-position-y: 2px;
}