body,html{height: 100%;}
		
@media (min-width:1200px){.container{width:100%}}
@media (min-width: 768px){.col-sm-8{width:100%}}

body{
	margin:0;
	padding:0;
	font-family:arial,sans-serif;
	font-size:12px;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
	background-color: #fff;
	font-family: "Arial";
	font-size: 20px;
	height: 270px;
	
}
.top {
    padding: 10px 20px;
    position: relative;
}

img.i98.pull-right {
    width: 33px;
}
.im {
    margin: 15px 1px;
}

.form-group {
    position: relative;
}



span.select_ {
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    padding: 8px 1px;
    position: relative;
    font-weight: 700;
}

i.fa.fa-angle-down {
    float: right;
    position: relative;
    top: 1px;
    font-size: 21px;
    font-weight: 700;
}

.form-control, .form-control:focus {
    margin-bottom: 0;
    background-color: #FFF;
    outline: none;
    border: 1px solid #fff;
	padding: 0;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    font-family: "Arial";
	border-radius: 0;
	box-shadow: none;
    font-size: 18px;
    font-weight: lighter;
    text-indent: 5px;	
}
.form-control:focus{
    border-color: #356ff7;
}
span.err_span {
    display: none;
    color: #b90909;
	font-size: 14px;
}

span.input_icon {
    position: absolute;
    top: -2px;
    /* left: 11px; */
}

span.input_icon2 {
    position: absolute;
    top: 7px;
    left: 11px;
}


.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* background: red; */
}
.input_submitBtn {
	background: rgb(0, 153, 228) none repeat scroll 0% 0%;
    display: inline;
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border: medium none;
    box-shadow: 0px 1px 1px rgba(179, 151, 28, 0);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}


.select_layer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.64);
    text-align: center;
}

.select_div {
    background: white;
    max-width: 500px;
    margin: 1px 15px;
    top: 101px;
    position: relative;
    padding: 15px 17px;
    text-align: left;
}

h2.select_h1 {
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
    margin: 9px 1px;
}

#clear {
    height: 1px;
    background: grey none repeat scroll 0% 0%;
    margin-top: 23px;
    margin-bottom: 14px;
}

.select_item {
    position: relative;
    padding-left: 27px;
}

span.select_span {
    position: absolute;
    left: 0px;
}

.selects {
    padding-left: 3px;
    margin: 14px 1px;
}

input[type=radio] {
    /* display: none; */
    display: inline-block;
}

.radio {transform: scale(1.5,1.5);}

.button_b98 {
    text-align: right;
}

a.buton_ser989 {
    text-decoration: none;
    color: #045fa7;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 700;
}

.sel_ {
    margin: 19px 1px;
}

img.ilogo {
    width: 142px;
}

.form-group.has_err .err_span {
    display: block !important;
}

.form-group.has_err .form-control{
	border: 0;
	border-bottom: 1px solid;
    border-color: #af0909;
	
}

span.fa.fa-circle-o-notch.fa-stack-1x.fa-spin {
    color: #178cf3;
}

.loader__ {
    background: rgba(255, 255, 255, 0.54) !important;
}

span.fa.fa-circle-o-notch.fa-stack-1x.fa-spin {
    top: 194px !important;
}

span.delete {
    position: absolute;
    top: 7px;
    right: 10px;
    color: rgb(14, 14, 14);
    font-size: 19px;
    display: none;
    z-index: 2;
}

.form-control.has-value+.delete  {
    display:block !important
}
		.logo {
			text-align: center;
			width: 100%;
		}
		.logo img {
    width: 40%;
    padding: 100px;
}
	
.header{

	background: rgb(0, 125, 186) none repeat scroll 0% 0%;
	weight: 100%;
	height: 57px;
	color: black;
	border: none;
	box-shadow: 0 1px 1px #cccccc;

	
	
}
.header2{

	padding-top: 10px;
	padding-left: 5%;
	background: rgb(0, 125, 186) none repeat scroll 0% 0%;
	weight: 100%;
	height: 1px;
	color: black;
	margin-bottom: 30px !important;	
	border: none;
	
	
}
	
	
	
	h3 {
    		color: #555555;
display: block;
    font-size: 1.5em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
	
		b {
		text-align: center;
		display: block;
		padding: 20px;
		font-size: 24px;
	}
	
		.images {
		margin: 0 auto;
	}
		.images1, .images2, .images3 {
		display: inline-block;
		width: 78px;
		text-align: center;
	}
	.headline {
		font-size: 13px;
		padding: 0;
		max-width: 100%;
		overflow: hidden;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		font-weight: bold;
	}
.form-group {
    margin-bottom: 15px;
	overflow: hidden;
}
.err_span2 {
	border-color: #f00 !important;
}
.show {
	color: #f00 !important;
}

	.footer {
	    background-color: #efefef;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,1);
		border-top: 1px solid #ccc;
		padding-bottom: 10px;
	}
	
	.footer > #text {
	    font-size: 10px;
		text-align: right;
		padding: 7px 10px 0 0;
		color: #4c4c4c;
		height: 15px;
		margin-right: 10px;
	}
/* deete icon */

.iconfield {
    width: 20px;
    height: 20px;
    padding-left: 5%;
}

label {
    float: left;
    color: #fff;
	margin: 0;
    font-weight: 100;
    font-size: 18px;
}
.image1 {
	color: rgb(49,186,233);
	display: inline-block;
	text-align: center;
	width: 48%;
	font-weight: 100;
}
			
b{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.5em;
}

.col-xs-10 {
		width: 100%;
	}
	
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		float: none;
	}
	