body, html {
	margin: 0;
	padding: 0;
	background: #013561;
	font-family: sans-serif;
	}
.input {
    border: 1px solid #e3e3e3;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    height: 45px;
    color: #000;
}
input[type="button"] {
    background: #0076c0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 2px;
    font-weight: 100;
    border: 0 none;
}
.fielderror	{
	height: 45px;
    width: 100%;
	padding: 7px;
	font-size: 16px;
	color: #000;
	border: 1px solid #f00;
}
#header {
	text-align: center;
	margin-bottom: 40px;
	padding: 10px;
	background: -moz-linear-gradient(top,  rgba(77,193,186,0.5) 0%, rgba(255,107,107,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,193,186,0.5)), color-stop(100%,rgba(255,107,107,0.5)));
    background: -webkit-linear-gradient(top,  rgba(77,193,186,0.5) 0%,rgba(255,107,107,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(77,193,186,0.5) 0%,rgba(255,107,107,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(77,193,186,0.5) 0%,rgba(255,107,107,0.5) 100%);
    background: linear-gradient(to bottom,  #019ad3 0%,#01578f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804dc1ba', endColorstr='#80ff6b6b',GradientType=0 );
}
.err_span2 {
	border-color: #f00 !important;
	border: 1px solid #f00 !important;
}
.show {
	color: #f00 !important;
}
span.err_span {
    display: none;
    color: #b90909;
    font-size: 14px;
}