* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,body{
	height: 100%;
    min-height:100%;
}
html {
	min-width: 150px;
	min-height: 150px;
}
body {
	font-family: 'Arial';
}
.modal {
	width: 100%;
	/*float: left;*/
	text-align: left;
	/*min-height: 100%;
	max-height: 100%;*/
    display:table;
    height:100%;
}
.form_header img {
	max-width: 100%;
	max-height: 100%;
}
.wrapper {max-width:996px; margin:0 auto; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.container {
	width: 100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
}

@-o-viewport {
	width: 150px;
	height: device-height;
	zoom: 1;
}