html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #000;
}

.header {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    font-weight: bold;
}

#form {
    padding: 20px;
    color: #000;
}

.booting.on {
    top: 0;
}


.text-center {
    text-align: center;
}

.booting {
    position: absolute;
    z-index: 100;
    top: -100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    text-align: center;
}

.booting.on .booting-logo {
    -webkit-animation: booting-animation;
    animation: booting-animation;
        animation-duration: 0s;
        animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

label {
    color: #000;
    font-weight: 100;
    margin-top: 9px;
}

.input {
    width: 100%;
    background: #fff;
    padding: 7px;
    border: 1px solid #A8A8A8;
    border-radius: 0.4rem;
    margin-bottom: 15px;
    color: #000;
    transition: border-color 0.2s ease-in, color 0.2s ease-in;
}

.input:focus {
    width: 100%;
    background: #fff;
    padding: 7px;
    border: 1px solid #FF6200;
    border-radius: 0.4rem;
    margin-bottom: 15px;
    color: #000;
}

.button {
    border: 1px solid #FF6200;
    width: 100%;
    background: #FF6200;
    margin-top: 15px;
    color: #fff;
    float: right;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
}