.cat-start-step {
	display: block;
}

.cat-step-block {
	display: none;
}

.cat-last-step {
	display: none;
	margin-top: 50px;
	text-align: center;
}

.cat-last-step input[type=button] {
	float: none;
	width: 200px;
}

.cat-last-step span {
	color:red;
	font-weight: bold;
	font-size: 14px;
    display: block;
}

.cat-button {
	margin-top: 13px;
	position: relative;
	display: inline-block;
	width: 10em;
	height: 2.5em;
	line-height: 2em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border: 2px solid #F64C2B;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.cat-button:active {
	top: .1em;
	left: .1em;
	outline: none;
	box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

#cat-error {
	margin-top: 50px;
	display:none;
	text-align: center;
}

#cat-error span {
	color:red;
	font-weight: bold;
	font-size: 14px;
	display: block;
}

#cat-error input[type=button] {
	float: none;
	width: 200px;
}
