
.container {
	overflow: hidden;
}
.row {
	position: relative;
	float: left;
	width: 100%;
}
.row + .row {
	margin-top: 10px;
}
.modal_02{
	background: #E9202D;
	border: solid 1px #520007;
}
.form_header {
	background: #fff;
	text-align: center;
	position: absolute;
    left:0;
    top:0;
    width:100%;
	padding: 12px;
	margin-bottom: 14px;
	border-bottom: solid 1px #520007;
}
.form_header:after {
	content: url('../img/02/shadow.png');
    height:31px;
	display: none;
	position: absolute;
	bottom: -17px;
	z-index: -1;
	left: 50%;
	margin-left: -204px;
	width:409px;
}
.inp_caption {
	color: #FFF;
	font-family: "Helvetica";
	font-size: 19px;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(0, 0, 2, 0.34);
	text-align: center;
	margin-bottom: 17px;
}
.inp_wr{
	text-align: center;
}
.main_input{
	border: none;
	outline-style: none;

	background-color: #F7F7F7;
	border: 1px solid #530213;
	-moz-box-shadow: inset 1.5px 2.6px 0 rgba(0, 0, 2, 0.44);
	-webkit-box-shadow: inset 1.5px 2.6px 0 rgba(0, 0, 2, 0.44);
	box-shadow: inset 1.5px 2.6px 0 rgba(0, 0, 2, 0.44);
	border-radius: 20px;
	max-width: 339px;
    width:100%;
    display:block;
	height: 43px;
	padding-left: 15px;
	font-size: 19px;
    margin-left:auto;
    margin-right:auto;
}
.input_block_wr {
	overflow: hidden;
}
.input_block_wr + .input_block_wr {
	margin-top: 15px;
}
.btn_wr {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 25px;
}
.sign_btn {
	max-width: 186px;
	width: 100%;
	height: 41px;
	line-height: 40px;
	background-color: #530213;
	background-image: -moz-linear-gradient(bottom, #530213 0%, #7C021C 100%);
	background-image: -o-linear-gradient(bottom, #530213 0%, #7C021C 100%);
	background-image: -webkit-linear-gradient(bottom, #530213 0%, #7C021C 100%);
	background-image: linear-gradient(to top, #530213 0%, #7C021C 100%);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 2, 0.75);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 2, 0.75);
	box-shadow: 0 2px 5px rgba(0, 0, 2, 0.75);
	color: #FFF;
	font-family: "Helvetica";
	font-size: 19px;
	font-weight: 700;
	text-shadow: 0 -2px 1px rgba(0, 0, 2, 0.42);
	border: none;
	cursor: pointer;
	-webkit-border-radius: 30px;
		        border-radius: 30px;	
	outline-style: none;
}
.sign_btn img {
	margin-left: 10px;
	position: relative;
	top: 3px;
}
.content{
	padding: 0 15px;
}
.container {
    padding-top:95px;
}

@media screen and (min-height:640px) and (max-height:736px) and (min-width:320px){
    .main_input {height:63px;}
    .sign_btn {height:63px; max-width:339px; font-size:23px;}
    .inp_caption {font-size:21px;}
}
@media screen and (min-height:737px) and (min-width:320px){
    .main_input {height:103px; max-width:640px;}
    .sign_btn {height:103px; max-width:640px; font-size:29px;}
    .inp_caption {font-size:27px;}
    .form_header {padding:32px 12px;}
    .container {padding-top:135px;}
}

@media screen and (max-height: 385px){
	.form_header {
		padding: 5px;
		height: 40px;
		margin-bottom: 0;
	}
    .container {
        padding-top:40px;
    }
	.inp_caption {
		font-size: 15px;
		margin-bottom: 6px;
	}
	.row + .row {
		margin-top: 10px;
	}
	.form_header:after {
		content: none;
	}
	.main_input{
		height: 30px;
	}
	.sign_btn{
		height: 30px;
		line-height: 30px;
        font-size:15px;
	}
    .sign_btn img {
	    top:1px;
        height:13px;
    }
    .btn_wr {
        margin-top:12px; margin-bottom:3px;
    }
}
@media screen and (max-width: 200px) and (max-height: 240px) {
	.form_header {
		padding: 2px;
		height: 20px;
	}
    .btn_wr {
        margin-top:5px; margin-bottom:3px;
    }
    .container {
        padding-top:24px;
    }
	.fields_wr {
	  padding: 2px 3px;
	  margin-top: 3px;
	  margin-bottom: 4px;
	}
	.content {
		padding: 0 3px;
	}
	.inp_caption {
		font-size: 12px;
	}
	.main_input{
		height: 20px;
		font-size: 12px;
	}
	.input_block_wr + .input_block_wr {
		margin-top: 3px;
	}
	.btn_wr{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.sign_btn{
		font-size: 12px;
		height: 17px;
		line-height: 15px;
	}
	.sign_btn img{
		top: 0;
		width: 7px;
	}
}
@media screen and (max-width: 200px) and (max-height: 200px) {
	.form_header {
		padding: 2px;
		height: 30px;
	}
    .container {
        padding-top:34px;
    }
}