body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #f0f1f1;
    margin-bottom: 15px;
}

#btn_finish {
    width: 100%;
    padding: 15px;
    background: #f3c000;
    margin-top: 15px;
    border: none;
}

.error { 
    border: 1px solid #f00 !important;
}