body {
    background: #3fbacb;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    padding: 10px;
    background: #003b5c;
}

p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.field {
    width: 100%;
    border: 1px solid #e4f5f8;
    border-radius: 9px;
    background: transparent;
    padding: 3px;
    color: #fff;
    margin-bottom: 15px;
    padding-left: 10px;
}

.error {
    border-color: #f00 !important;
}

form {
    padding: 50px;
    padding-top: 0;
    padding-bottom: 20px;
}

::-webkit-input-placeholder { /* Chrome */
    color: #d2ecf0;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d2ecf0;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d2ecf0;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #d2ecf0;
    opacity: 1;
  }

.button {
    width: 100%;
    background: #6fcbd8;
    color: #fff;
    font-weight: 600;
    border: 0;
    border-radius: 9px;
    font-size: 18px;
    padding: 1px;
}

.form-bottom {
    padding: 50px;
    padding-top: 0;
    color: #d2ecf0;
}

.icons {
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    left: 0;
    bottom: 0;
    position: absolute;
    background: #0c94a5;
    width: 100%;
    padding: 5px;
    color: #fff;
    font-size: 8px;
    text-align: center;
}