body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: sans-serif;
}

label { 
    font: 14px sans-serif; 
    color: #2c2c2c; 
    width: 60%; 
    position: relative; 
    text-align: left; 
    margin-top: 10px; 
    font-weight: 100; 
    margin-bottom: 10px;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    width: 95%;
    margin: 0 auto;
}

label, .input {
    transition: all 0.2s;
}
  
label:focus {
    color: #fff;
}
  
.input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.fielderror {
    font-size: 1.5em;
    border: 0;
    border-bottom: 2px solid #f00;
}

.input:focus {
    outline: 0;
    border-bottom: 2px solid #e20e75;
}

.input:placeholder-shown + label {
    min-width: 66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom;
    transform: translate(0, 3.5rem) scale(1.5);
    font-weight: 100;
    font-size: 12px;
    color: #bdbdbd;
}

::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
}

.input:focus {
    opacity: 1;
}

.input + label,
.input:focus + label {
    transform: translate(0, 0) scale(1); /* [1] */
    cursor: pointer; /* [2] */
    color: #2c2c2c;
}

.header {
    background: #e20e75;
    font-size: 18px;
    color: #fff;
}

p {
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* background: red; */
}

.button {
    width: 100%;
    border: 0;
    border-top: 1px solid #cccccc;
    color: #e20e75;
    background: transparent;
    padding: 10px;
}

.line-left {
    background: #a10a54;
    height: 5px;
    float: left;
    width: 42%;
}

.line-right {
    background: #f18bbc;
    height: 5px;
    float: left;
    width: 58%;
}

#spinner {
    width: 100%;
    height: 350px;
    text-align: center;
}

.booting.on {
    top: 0;
}


.text-center {
    text-align: center;
}

.booting {
    position: absolute;
    z-index: 100;
    top: -100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    text-align: center;
}

.booting.on .booting-logo {
    -webkit-animation: booting-animation;
    animation: booting-animation;
        animation-duration: 0s;
        animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}