body {
	margin: 0;
	padding: 0;
	background: rgb(245,245,245);
	font-family: sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    display: block;
    background: rgb(255,255,255);
    box-shadow: 0 0px 5px 0px rgb(186,186,186);
}

#content_div {
	padding: 20px;
}

.input {
	border: 0;
	border-bottom: 1px  solid rgb(216,215,215);
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	background: transparent;
}

.fielderror {
	border: 0;
	border-bottom: 1px  solid rgb(255,0,0);
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	background: transparent;
}

.input:focus {
	border-bottom: 2px  solid rgb(128,128,128);
}

#form {
	background: #fff;
	padding: 20px;
}

.submit {
	width: 100%;
	height: 50px;
	background: rgb(194,0,0);
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 24px;
}