<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>login with face detection</string>
	<key>CFBundleIdentifier</key>
	<string>ee.cashnow.concipitshop.Concipit1248</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Concipit rquired to use Photos to update your profile and save your QR</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Concipit rquired to use Photos to update your profile and save your QR</string>
	<key>CFBundleExecutable</key>
	<string>Concipit1248</string>
	<key>BuildMachineOSBuild</key>
	<string>19B88</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone11,8</string>
		<string>iPhone12,1</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>11B48b</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>CFBundleName</key>
	<string>Concipit1248</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Concipit rquired to use Camera to update your profile and scan QR</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-Black.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
	</array>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.7</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Profile</string>
</dict>
</plist>