body {
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    margin: 20px;
}

.text-center {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 100;
}

.field {
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.field:focus {
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 15px;
    border: 1px solid #258900;
}

.button {
    background: #258900;
    color: #fff;
    font-weight: bold;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 12px;
    border: 0;
}

.error {
    border-color: #f00;
}

::-webkit-input-placeholder { /* Chrome */
    color: #c7c7cc;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #c7c7cc;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #c7c7cc;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #c7c7cc;
    opacity: 1;
  }

.footer {
    left: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding: 25px;
    width: 100%;
    font-weight: 600;
    color: #258900;
}