body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eeecec;
}

.header {
    background: #562772;
    padding: 10px;
    margin-bottom: 15px;
}

h3 {
    color: #5fccf7;
    font-size: 20px;
    display: inline-block;
}

#btn_finish {
    background: #562772;
    border: none;
    border-radius: 0;
    float: right;
}

.error {
    border: 1px solid #f00;
}