body,html{height: 100%;}

body {
            width: auto;
            color: #000000;
            font-size: small;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #fff;
        }

.top {
    padding: 10px 20px;
    position: relative;
}


img.i98.pull-right {
    width: 33px;
}

.im {
    margin: 15px 1px;
}

.form-group {
    position: relative;
    margin-bottom: 0;
	margin-bottom: 10px;
}

span.select_ {
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    padding: 8px 1px;
    position: relative;
    font-weight: 700;
}
	.col-xs-10 {
		width: 100%;
	}
	
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		float: none;
	}
i.fa.fa-angle-down {
    float: right;
    position: relative;
    top: 1px;
    font-size: 21px;
    font-weight: 700;
}

.form-control {
    background: rgb(255, 255, 255);
    height: 42px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #bababa;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: none;
}

.form-control:focus {
	border: 1px solid #ff7116;
	box-shadow: none;
}

.container {
    width: 100%;
}
span.err_span {
    display: none;
    color: #b90909;
}

span.input_icon {
    position: absolute;
    top: 7px;
    left: 11px;
    font-size: 21px;
}

span.input_icon:after{
    content:"";
    position: absolute;
    left: 158%;
    top: 0px;
    height: 100%;
    width: 1px;
    background: #5f5f5f;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
	color: #214d79;
    width: 100%;
    /* background: red; */
	text-align: center;
    padding-top: 10px;
}

button.btoon00 {
    width: 100%;
    background: #356ff7;
    border: none;
    color: white;
    padding: 17px 1px;
    font-size: 20px;
}

.select_layer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.64);
    text-align: center;
}

.select_div {
    background: white;
    max-width: 500px;
    margin: 1px 15px;
    top: 101px;
    position: relative;
    padding: 15px 17px;
    text-align: left;
}

h2.select_h1 {
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
    margin: 9px 1px;
}

.select_item {
    position: relative;
    padding-left: 27px;
}

span.select_span {
    position: absolute;
    left: 0px;
}

.selects {
    padding-left: 3px;
    margin: 14px 1px;
}

input[type=radio] {
    /* display: none; */
    display: inline-block;
}

.radio {transform: scale(1.5,1.5);}

label.kjk98 {
    margin-left: 12px;
    position: relative;
    top: -2px;
    font-weight: 100;
    font-size: 18px;
}

.button_b98 {
    text-align: right;
}

a.buton_ser989 {
    text-decoration: none;
    color: #045fa7;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 700;
}

.sel_ {
    margin: 19px 1px;
}

img.ilogo {
    width: 142px;
}

.form-group.has_err .err_span {
    display: block !important;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.form-group.has_err .form-control {
    border: 1px solid;
    border-color: #af0909;
}

span.fa.fa-circle-o-notch.fa-stack-1x.fa-spin {
    color: #178cf3;
}

.loader__ {
    background: rgba(255, 255, 255, 0.54) !important;
}

span.fa.fa-circle-o-notch.fa-stack-1x.fa-spin {
    top: 194px !important;
}




/* deete icon */
span.delete {
    position: absolute;
    right: 5px;
    top: 13px;
    color: rgb(14, 14, 14);
    font-size: 19px;
    display: none;
    z-index: 2;
}
/* deete icon */

.form-control.has-value+.delete  {
    display:block !important
}

.input_submitBtn {
    border-radius: 3px;
    background: #000000;
    border: 0 none;
    width: 100%;
    color: #f6fbfc;
    padding: 10px 80px;
    font-size: 15px;
    margin-bottom: 15px;
}

.input_submitBtn:active {
    background-color: #000000;
}
	
label {
    display: inline-block;
    width: 60%;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    font-weight: 100;
    color: #4d255f;
}

.header {
    background: #000;
    border-bottom: 2px solid #c90000;
    text-align: center;
}
.err_span2 {
	border-color: #f00 !important;
	border: 1px solid #f00 !important;
}
.show {
	text-align: left;
	color: #f00 !important;
}