body {
    background: #eef3f5;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background: #31536d;
    padding: 10px;
    text-align: center;
}

h3 {
    color: #23a5d0;
    padding: 20px;
}

h4 {
    padding: 20px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-top: 0;
}

b {
    color: #76c7e2;
}

.text-center {
    text-align: center;
    display: block;
}

form {
    padding: 20px;
}

.field {
    padding: 10px;
    border: 0;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #dfe5e6;
    background: #dfe5e6;
}

.error {
    border-color: #f00 !important;
}

::-webkit-input-placeholder { /* Chrome */
    color: #a9a9a9;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #a9a9a9;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #a9a9a9;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #a9a9a9;
    opacity: 1;
  }

.footer {
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 100%;
    position: absolute;
}

.button1 {
    width: 45%;
    padding: 12px;
    border: 1px solid #d8d9da;
    background: #ffffff;
    border-radius: 6px;
    color: #76c7e2;
    font-weight: 600;
    float: left;
}

.button2 {
    width: 45%;
    padding: 12px;
    border: 1px solid #d8d9da;
    background: #0097c9;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 600;
    float: right;
}