
	body, html {
        margin: 0;
        padding: 0;
        background: #ffffff;
    }
    .input {
        border: 0;
        border-bottom: 1px solid #d8d8d8;
        width: 100%;
        padding: 7px;
        margin-bottom: 15px;
        color: #333;
    }
    .input:focus {
        border: 0;
        border-bottom: 2px solid #16a086 !important;
        width: 100%;
        padding: 7px;
        margin-bottom: 15px;
        color: #333;
    }
    .error {
        border-color: #f00 !important;
        margin-bottom: 0 !important;
    }
    input[type="submit"] {
        background: #16a086;
        width: 100%;
        height: 42px;
        color: #fff;
        border-radius: 3px;
        font-weight: bold;
        border: 0 none;
    }
    .hr1 {
        display: block;
        width: 50%;
        height: 50px;
        background: #16a086;
        color: white;
        font-family: Tahoma;
        font-size: 16px;
        text-decoration: none;
        padding-top: 15px;
        border-bottom: 2px solid #ffffff;
        float: left;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: center;
        box-shadow: 0px 1px 5px -3px black;
        text-decoration: none;
    }
    .hr1:focus {
        text-decoration: none;
        color: #fff;
    }
    .hr2:focus {
        text-decoration: none;
        color: #fff;
    }
    .hr11:focus {
        text-decoration: none;
        color: #fff;
    }
    .hr22:focus {
        text-decoration: none;
        color: #fff;
    }
    #form2{display:none;}
    .hr2 {
        display: block;
        width: 50%;
        height: 50px;
        background: #16a086;
        color: rgba(255, 255, 255, 0.36);
        font-family: Tahoma;
        font-size: 16px;
        text-decoration: none;
        padding-top: 15px;
        border-bottom: 0;
        float: left;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
    .hr1:active{ background:#2ab59b;text-decoration: none;} .hr2:active{ background:#2ab59b;text-align: center;text-decoration: none;}
    
    .hr22 {
        display: block;
        width: 50%;
        height: 50px;
        background: #16a086;
        color: white;
        font-family: Tahoma;
        font-size: 16px;
        text-decoration: none;
        padding-top: 15px;
        border-bottom: 2px solid #ffffff;
        float: left;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: center;
        box-shadow: 2px 1px 5px -3px black;
        text-decoration: none;
    }
    .hr11 {
        display: block;
        width: 50%;
        height: 50px;
        background: #16a086;
        color: rgba(255, 255, 255, 0.36);
        font-family: Tahoma;
        font-size: 16px;
        text-decoration: none;
        padding-top: 15px;
        border-bottom: 0;
        float: left;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
    .hr11:active{ background:#2ab59b; text-decoration: none;} 
    .hr22:active{ background:#2ab59b;text-align: center; text-decoration: none;}
    a:hover {
            color: #fff;
            text-decoration: none;
    }
    a:focus {
            color: #fff;
            text-decoration: none;
    }
    
    .header {
        background: #16a086;
        display: flow-root;
    }
    
    .error_hide {
        display: none;
    }
    .error_show {
        display: block;
        margin-bottom: 15px !important;
        color: #f00;
    }