body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background: #28373c;
    padding: 15px;
    color: #939b9d;
}

form {
    padding: 50px;
}

label {
    color: #28373c;
    font-weight: 600;
}

.field {
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}

.select {
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}

.button {
    background: #fff500;
    color: #000;
    width: 50%;
    border: 0;
    border-radius: 50px;
    padding: 15px;
    float: right;
}

.error {
    border: 1px solid #f00 !important;
}