.submit {
	padding: .2em 0.5em;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:2px;
	font-family: "Consolas";
    font-size: 10;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 1px;
	color: #FFF;
	border: 1px solid #434343;
	
	border-bottom: 1px solid #353535;
	text-shadow: 1px 1px #2F2F2F;

	background: -moz-linear-gradient(top,  #656565 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(top,  #656565 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	background-color: #464646;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
	border-top: 1px solid #464646;
	
	background: -moz-linear-gradient(top,  #656565 0%, #565656 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#565656)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#565656 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#565656 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#565656 100%); /* IE10+ */
	background: linear-gradient(top,  #656565 0%,#565656 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
	background-color: #464646;
}
.submit:active {
	top: 0.5px;
	border: 1px solid #3A3A3A;
	border-top: 1px solid #2F2F2F;
	border-bottom: 1px solid #404040;
	background: #484848;
	box-shadow: inset 0 1px 2px #252525;
}


a.button1
 {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: .2em 0.5em;
  margin-top:2px;
  margin-bottom:2px;
  margin-left:2px;
  margin-right:2px;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
  transition: 0.2s;
  font-family: "Consolas";
  font-size: 10;
  
} 
a.button1:hover { background: rgba(255,255,255,.2); }
a.button1:active { background: white; }


a.button2 {
   margin-top:4px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  width:100%;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 0px 0em;
  text-align:center;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
  box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
a.button2:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
a.button2:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}


a.button3 {
   margin-top:4px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  width: 135px;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 0px 0em;
  text-align:center;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
  box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
a.button3:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
a.button3:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}

#bth_add_command {margin-top: 40px;}

.btn_log{
	cursor: pointer;
	border: none;
	width:0px;
	background-color: #1D1F24;
}
.img_log{
	cursor: pointer;
	margin-left: -5px;
}
