.text-center {
	margin-top: -55px;
	text-align: center;
	font-family: "Consolas";
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.3;
}
h2 {
	
	font-size: 24px;
	font-weight: normal;
	color: #464646;
}
h3 {
	font-family: "Consolas;";
	font-size: 20px;
	font-weight: bold;
	color: #969696;
	margin-bottom: 30px;
}
p {
	font-family: "Consolas;";
	color: #686868;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
}

.spincrement {
   font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.vertical-content {
	display: inline-block;
	vertical-align: middle;
}
.vertical-middle:before {
	content: "";
	display: inline-block;
	min-height: inherit;
	height: 100%;
	vertical-align: middle;
}
.col-4 {
	width: 33.333333%;
	float: left;
}
.circle {
	border-radius: 50%;
	background: #ccc;
	width: 120px;
	height: 120px;
	display: inline-block;
	line-height: 120px;
	font-weight: bold;
	font-size: 10px;
}
.label {
	margin-top: 3px;
	font-weight: 300;
	font-size: 20px;
}
.label2 {
	margin-top: 3px;
	font-weight: 300;
	font-size: 26px;
}
.section {
	padding: 60px 0;
}
.footer {
	background: #e26d4e;
	height: 60px;
}
.footer p {
	line-height: 60px;
	color: #fff;
}