body {
	margin: 0;
	padding: 0;
	background: #ffcc33;
    font-family: sans-serif;
}

	.input {
	    line-height: 18px;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	    color: #000;
	    border: 0;
	    border-bottom: 1px solid #b28e24;
	    background-color: transparent;
	    height: 32px;
	    text-align: center;
	    display: block;
	    margin: 8px 0 0 0;
	    vertical-align: middle;
		font-size: 24px;
	    width: 95%;
		font-family: sans-serif;
	}
		::-webkit-input-placeholder {color:#000;font-weight: 100;text-align: center;	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;}
		::-moz-placeholder          {color:#000;font-weight: 100;text-align: center;	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;}/* Firefox 19+ */
		:-moz-placeholder           {color:#000;font-weight: 100;text-align: center;	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#000;font-weight: 100;text-align: center;	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;}
	
	
	.fielderror {
		font-size: 24px;
	    line-height: 18px;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	    color: #000;
	    border: 0;
	    border-bottom: 1px solid #f00;
	    background-color: transparent;
	    height: 32px;
	    text-align: center;
	    display: block;
	    margin: 8px 0 0 0;
	    vertical-align: middle;
	    width: 95%;
		font-family: sans-serif;
	}
	
	.fielderror::-webkit-input-placeholder {
		color:#f00;
		font-weight: 100;
		text-align: center;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	}
	
	.fielderror::-moz-placeholder {
		color:#f00;
		font-weight: 100;
		text-align: center;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	}
	
	.fielderror::-moz-placeholder {
		color:#f00;
		font-weight: 100;
		text-align: center;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	}
	
	.fielderror::-ms-input-placeholder {
		color:#f00;
		font-weight: 100;
		text-align: center;
	    -webkit-transition: border-color linear .2s,box-shadow linear .2s;
	    -moz-transition: border-color linear .2s,box-shadow linear .2s;
	    -o-transition: border-color linear .2s,box-shadow linear .2s;
	    transition: border-color linear .2s,box-shadow linear .2s;
	}
	
	.submit {
		color: #fff;
		background-color: #000;
		font-size: 12px;
		padding: 7px 16px;
		display: inline-block;
		font-family: sans-serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
		text-align: left;
		text-decoration: none;
		vertical-align: top;
		cursor: pointer;
		border: 0;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		box-shadow: 0 2px 2px rgba(0,0,0,0.4) float: right;
		margin-bottom: 10px;
	}
	
	#content_div {
		margin-top: 50px;
	}
	
	h1 {
		font-size: 40px;
		font-family: sans-serif;
	}