body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background: #fff;
}

.header2 {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZBNjExRUU4NDM4MTFFODkyQjdBQkE0RDhBMzZBRjgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZBNjExRUY4NDM4MTFFODkyQjdBQkE0RDhBMzZBRjgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkE2MTFFQzg0MzgxMUU4OTJCN0FCQTREOEEzNkFGOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkE2MTFFRDg0MzgxMUU4OTJCN0FCQTREOEEzNkFGOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PiATDuAAAABJSURBVHjaYuzafozp9qu3TP/+/2f6x/APiEE0A9NfEBsshoaR1UHl/8Ll/mGq+48sj6oXLo5uF4q9/8DuAZn9F80t/yFmAAQYABBdbXVuUno8AAAAAElFTkSuQmCC');
    text-align: center;
}

.field {
    width: 100%;
    border: 1px solid #ababab;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
}

.padding {
    padding: 10px;
}

label {
    color: #002d67;
}

#btn_finish {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAkCAYAAACqqEt1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABWSURBVDhPY1h8bMd/bJghf+Os/9gwg8vc2v/YMIP+5Lz/2PCoBDUktDtT/2PDoxLUkNBsSviPDTOolIT+x4YZtFP9/mPDDIaBrv+xYQZjB+v/mNj6PwCaFdBEqJ73UAAAAABJRU5ErkJggg==) 0 0;
    float: right;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 100px;
}

.fielderror {
    width: 100%;
    border: 1px solid #f00;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
}