body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.header2 { 
    text-align: center;
}

form {
    background: #98d4c8;
    padding: 30px;
    margin: 30px;
    overflow: hidden;
}

.field {
    padding: 10px;
    font-size: 18px;
    background: #fff;
    border: 1px solid #fff;
    float: left;
    margin-bottom: 1%;
    width: 100%;
}

.field2 {
    padding: 10px;
    font-size: 18px;
    background: #fff;
    margin-bottom: 1%;
    border: 1px solid #fff;
    float: left;
    width: 24.5%;
    margin-right: 1%;
}

.field3 {
    padding: 10px;
    font-size: 18px;
    background: #fff;
    border: 1px solid #fff;
    float: left;
    margin-bottom: 1%;
    width: 49%;
}

p {
    margin: 0;
    padding: 0;
}

.button {
    color: #fff;
    border: 0;
    background: transparent;
    padding: 10px 0px;
    margin-top: -43px;
    float: right;
    font-weight: 600;
}

.error {
    border-color: #f00 !important;
}

.bottom2 {
    color: #fff;
    text-align: center;
    padding: 10px;
    background: #98d4c8;
    margin: 30px;
}