body {
	background: #e2e2e2;
}
.header {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAA6CAIAAAA/Te4cAAAAGG5wT2wAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAADYHRhkAAAAOG5wVGMAAgICIAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAAAUAAAAAAAAADkAAAAB/wEyTzQEwaAAAABjSURBVEjH7ZfRCQAgCEQNov23qT2aoTXu2sGgQ7T/h5faaW3MY97TjZTBFlO2DAb8MIWynyIjX2SomkR3ZwKVsH+yhbDMAFGlCuOeCW2IQZ9kDfd/qxSpG3QJ9+2nD8pebvgCKrV2aB7mgjYAAAAASUVORK5CYII=);
	height: 58px;
	text-align: center;
}
.header2 {
    background: #28abea;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 2px;
    border: 0;
    border-radius: 5px 5px 0 0;
    width: 90%;
    font-weight: bold;
}
hr {
    background: #249ad3;
    color: #249ad3;
    width: 90%;
    height: 1px;
    margin: 0 auto;
    border: 0;
}
form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: #3abcfa;
    border-radius: 0 0 5px 5px;
    display: flow-root;
}
.input {
    width: 98%;
    margin: 0 auto;
    font-size: 24px;
    display: block;
    margin-top: 10px;
    border-top: 1px solid #708189;
    border-left: 1px solid #9fa8ad;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #9fa8ad;
    padding: 5px 11px;
    border-radius: 3px;
    box-shadow: inset 0 1px 6px -2px black;
}

.button-div {
    background: #01202d;
    border-radius: 0 0 5px 5px;
}

.submit-button {
    background: #e7e7e7;
    border: 0;
    margin: 10px 0;
    width: 90%;
    font-size: 24px;
    color: #005980;
    font-weight: bold;
    border-radius: 3px;
}
.error {
	border-color: #f00 !important;
	margin-bottom: 0 !important;
}