body {
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
}

.header {
    text-align: center;
}

.field-e {
    padding: 5px 35px;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    background: #fff;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAADuklEQVR42u2cyW8TMRTGUyirBGU5IYHgEBFQIHuTDA0QkBAHCAVBBBcqlqKWA4vYL6WhUInSUtYA/W/5XjQDVunEQ5bGnvl+ktU0mY7t99l+7znjxmKEEEIIIYQQQgghhBBCCCGEEEIIIYSYTzwe3zIKstnsjUKhcDefz0/aXKQPuVzuOvpTSCaTm022/VCxWEyjsQto9EoYCwR5j3LcSOvD8GhbvhlW4yvlOyZ4xijjl0qlnTD+xwgY35sJS9Jnk0b/+agYXynnjBEAI+Jh1ASAU35gkgAzPlP1DdbLGmbIRUtLDX1469O3GZOWoNm1Gon3f6Ghj1D22RZOp1Kp/Wj3E+mDT99mjRdAGS1fUS5IjmC64avV6la0+ZJEO+36ZJUAihCvkSsclpzBxDwG/TiKdjaC9MVKAVwRfuLnhElhXCaT2YU+3HbbthJqAZQOLKCUG43GhkG1W+pGW8Zg+MUO2m+FAB8CdOTxIJy062SfBpixi9YKIBtY+OwsXn/SdPKLhH1wgMPrEDJvwpIzLoGBZmAsI4Q+jT441grg7ZlUKpXd+H1Kt8bKfXDNkT456aF0Op3E/ed0PsrdCR2RP5KdXesFUHdL8f58ACd9M5FI7OjhqB9BG2/pBoCbdB1TB0CYBGjhOM42fHZNF2fL2itOul6vb+wiph92neySZuZ9wzWXJQdYfY/QCeBRLpcPodMvNYbpOJPWZbJKG5+hHPC7T2gF8EYojHRGHF6vMmk3kx2XUa3bUsY1J3UzLNQCeMA37MW193SjVTLpNk665WR1maxbxx0JDIK0LRICeAaU63GvdxoRfiA0nFCdtDhZMWoAJzu32slSgDWWEBiqrnPSkuQhnj8hy0gQJ4typZPNwMgJ4M0G10m/arcsyWcBPn/uOtmOcouoCtBCHGQQJ+3nZFH/qW73miItgOqkUceUzkkroetkUCdLAf6vnpTfV4Sek5VIqJd1UoB/txW2495XJRpSDN+UTFay7F7XRwF8QCh6EHW8kC1lyXr7VY8VAvglP/1+gkwy6W72isIkwPwgBFgPKAAFoAAUgAJQAApAASgABaAAFIACUAAKQAEoAAWgABTgL34PvMpXgxYf0GsVeajY+EN68nhf1I6pytFckwSoRU0AOZxujACO4+zBiPgcIeMve+cHjEFOkqhflId46WnKyR8TAwZ5tnM0zP+0wz0vlo2Zecz2T0Qkj42MyVFUvJ5GuW95mZYTOzLD1zrAQQghhBBCCCGEEEIIIYQQQgghhBBCiIH8BuU7jwzuXQIsAAAAAElFTkSuQmCC');
    width: 100%;
    background-size: contain;
    background-position: unset;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.field-p {
    padding: 5px 35px;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    background: #fff;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAAEC0lEQVR42u2by09TQRSHz5nbXrDIQ54GoijBKJKgeFMESdCY+FjqQhNd6EZ3RuLOpf+AJi7cGGPiI2pMdOPCxJVGVF4XqwR8VDEEAhViLA+10Ns5Loh20Db00k7bq/PbdTJzZ76Zc86cmUwBlJSUlJSUlP5dIaDsDiToHHtQTHWsHAqhEACmeBAn9MF9wXPcAQANee5WaIRq1BaXk0XDZLIX5vcsBqjX9Wa2H0vi1+CT7CF1m+GsBGgpDp/gNWyJL3LC95GrvmCqetVS9aHmdeF2rMQlJwQRS1ljlX9sOqsAvDWRM7gy4eoe8lYOjk9lDUBTCT+F+X84Lccv9In7cRSmQYPcxWuDbthY8TIQygofqNc9p2nDoqIw9bCnfOSXsxpuqmZtZKBrEeJg/qXHVrK9u5IHWOGN1DLRTcf0a53DQNESMwwf4KPxhI5jhQBQN7sNujNuQrty504yj1DwdvbSq4lYNce/rjUjNVgcdWeqKn42GUmuf5YswFSrGPf52MyVdzPx6nZN42X6LNhvRc72ZPtPGkAzRNvXbsQfPgCAOaXdJNHujQwDbC+g9cLPvp6hpVp0+6FfWIMNhiejAOHNyKJ7LOtIoAlZT/lvB0cXbMqsCZUJsznjGUqkieVnPwSesowCsCLhRyCxqD4wT2KUKsrsChSKASnx0BXnC+kHIF0wobmEt3+hJtMzHEYzLQWgAP53gGWk04abV7ISngMAgAVCRCpvbEkwdpVGjyG0aqGVFqIvMG7/uG/zQHNI+7gD90AZSlg54vjZenSg097tkS2AXa7ZY7yJSbxr48Ser7xl55xm50CDpQdhJ0q9KkSEtSEafy/Fib0VtDstfrnXKJUThbzoSsf4mU6GFACqTltstNGTjTmlPCH4heh6iq3/GOb+ntU8OfuA6L5Wn5laAOOoMFUoxwdUKqEAFIACUADqQGMndVpt1WvlABQID7yecBhAy4rQIWrS3AsbuGt+W2fBvcchx5iQ4Zk7o7WCO5pfsraZ9tocxwDgEfZXPok1RYcdAuBdEzufp2bvakcARLZgzIMquniDIwAw7jxzZ6wAxf2mjMsYGSsQN+azCUcAQD/FvJoijv2OADCHYDAmgK9n1BkrQJEbfPKvwoD7tvj8IKs3Ml/Qc56/EaIPQT9c6JqW0ZekXKjjK1zcWqttpXIGEEBf75CM2ZebjZLPD351HlAACkABKAAFIFfL3MiQNa1P7UA4kw8gPpz38LMSp/W7FBOi0XSZhZ2ebABgL/G0DN9CUwqAOQKd6QDADjMgJwqRfpfeSZ//geB9O6m3rbfTo1ZlLxKvIreMBwec4Bs+zL/TZ+vFyjIG0pCXW0tlPMU3nTyEk/gh1X8RUlJSUlJSUlJSUpKpnwnzQQRFPSNKAAAAAElFTkSuQmCC');
    width: 100%;
    background-size: contain;
    background-position: unset;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.button {
    padding: 5px; 
    background: #303f9f;
    width: 100%;
    color: #fff;
    border: 0;
    margin-top: 10px;
}

p {
    text-align: right;
    color: #303f9f;
}

.footer {
    left: 0;
    bottom: 0;
    position: absolute;
    color: #303f9f;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.error {
    border-bottom: 1px solid #f00 !important;
}