html {
	margin-top: 10px;
	font-size: 10px;
	line-height: 1.4;
	color: #222;
}

body {
	font-family: 'Droid Sans',sans-serif;
	font-size: 1.6rem;
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

form {
  margin-bottom: 1em;
  display: block;
  margin-top: 0em;
}

.mod-loginform .login-input-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.mod-loginform .login-input-wrapper>label {
  display: none;
  position: absolute;
  cursor: text;
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: 1.2rem;
  left: 1.2rem;
  color: #3f4d64;
}
.mod-loginform .login-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 97%;
  margin: 0 0 0 8px;
  padding: .8rem 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  border: 1px solid #aaa;
  -webkit-border-radius: 0.4rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.4rem;
  -moz-background-clip: padding;
  border-radius: 0.4rem;
  background-clip: padding-box;
  background-color: #fff;
  height: 3.8rem;
}
.mod-loginform .login-input-wrapper>label {
  display: none;
  position: absolute;
  cursor: text;
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: 1.2rem;
  left: 1.2rem;
  color: #3f4d64;
}
.mod-loginform .btn {
  height: 36px;
  width: 99%;
  font-size: 1.4rem;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="button"] {
  display: block;
  height: 6%;
  padding: 1rem 2rem;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block {
  display: block;
}

.btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  border-radius: 0.4rem;
  background-clip: padding-box;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  background-color: #3678ed;
  background-image: none;
  border: 1px solid transparent;
  text-decoration: none;
  box-sizing: border-box;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.fielderror{
    border: 1px solid #EC4343;
	box-sizing: border-box;
width: 97%;
margin: 0px 0px 0px 8px;
padding: 0.8rem 1rem;
font-size: 1.2rem;
line-height: 2rem;
border-radius: 0.4rem;
background-clip: padding-box;
background-color: #FFF;
height: 3.8rem;
	}
.input {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 97%;
		margin: 0 0 0 8px;
		padding: .8rem 1rem;
		font-size: 1.2rem;
		line-height: 2rem;
		border: 1px solid #aaa;
		-webkit-border-radius: 0.4rem;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 0.4rem;
		-moz-background-clip: padding;
		border-radius: 0.4rem;
		background-clip: padding-box;
		background-color: #fff;
		height: 3.8rem;
	}
	.err_span2 {
	border-color: #f00 !important;
	border: 1px solid #f00 !important;
}
.show {
	color: #f00 !important;
}
span.err_span {
    display: none;
    color: #b90909;
    font-size: 14px;
}